{% extends 'home.html' %}
{% load static %}



{% block mainbody %}

<div class="container-fluid" style="width: 100%;
         background: linear-gradient(178deg, rgba(201, 234, 252, 0.51) 14.9%, rgba(139, 192, 216, 0.73) 80%);
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;">

    <div class=" container" style="justify-content: center; text-align: center; padding-top: 5%; padding-bottom: 5%;
        color: white;
        font-family: serif;
        font-weight: bold;
        width: 100%;">
        <h1 style="font-weight: bold;">Our Client Focused Process</h1>
    </div>
</div>


<section id="schedule_consultation" class="bg-light">

    <div class="row justify-content-center m-5">

        <div class="col-sm p-3">
            <h1 class="heading text-center"><u>Schedule A Consultation</u></h1>

            <p style="font-family: sans-serif; font-weight: bold;">We schedule a first in-home appointment to discuss
                the scope of the
                project and the contractor
                relationship as well as our approach to the design, development and execution of work. We begin our
                assessment by taking pictures and obtaining exact measurements. This will ensure that your rendering has
                everything you discussed and allow us to provide a well prepared proposal. Click below to schedule your
                consultation below.
            </p>
        </div>

        <div class="col-sm">
            <img src="../static/consultation.jpg" width=100%; height=350px;>
        </div>


    </div>
</section>


<section id="project_proposal" style="background-color: black;">

    <div class="row justify-content-center m-5">

        <div class="col-sm">
            <img src="../static/proposal.jpg" width=100%; height=350px;>
        </div>

        <div class="col-sm p-3">
            <h1 class="heading text-center text-white"><u>Project Proposal</u></h1>
            <p class="text-white" style="font-family: sans-serif; font-weight: bold;">We will select high-quality
                materials, create necessary 3D rendering and finishes that
                will suit the design, budget and style of your space. After we have finalized all the details of the
                project, we will prepare a detailed proposal. This includes materials, scope of work, product allowances
                and a price for the project. This is sent to you in written form.</p>
        </div>

    </div>

</section>

<section id="proposal_acceptance" class="bg-light">

    <div class="row justify-content-center m-5">

        <div class="col-sm p-3">
            <h1 class="heading text-center"><u>Proposal Acceptance</u></h1>
            <p style="font-family: sans-serif; font-weight: bold;">We will make sure you are comfortable with the plan
                and create a contract reflecting all of the details
                you want in your Final Design, The contract will be sent and electronically signed. The deposit will be
                collected and materials will be ordered and delivered to the warehouse. Our Production Manager will be
                assigned to your project and you will be in communication as your project preparations are made.</p>
        </div>

        <div class="col-sm">
            <img src="../static/plans.jpg" width=100%; height=350px;>

        </div>
    </div>

</section>


<section id="project_kickoff" style="background-color: black;">

    <div class="row justify-content-center m-5">

        <div class="col-sm">
            <img src="../static/kickoff.jpg" width=100%; height=350px;>
        </div>

        <div class="col-sm p-3">
            <h1 class="heading text-center text-white"><u>Project Kickoff</u></h1>
            <p class="text-white" style="font-family: sans-serif; font-weight: bold;">Your Production Manager will keep
                you in the loop throughout the entire process. We
                will also schedule the Project start date and get to work! Watch as our experienced carpenters and
                remodeling team complete your project with creativity, skills and attention to detail to achieve
                beautiful results.</p>
        </div>


    </div>
</section>

<section id="project_completion" class="bg-light">

    <div class="row justify-content-center m-5">

        <div class="col-sm p-3">
            <h1 class="heading text-center"><u>Project Completion</u></h1>
            <p style="font-family: sans-serif; font-weight: bold;">Now is when you get to see your finished project. We
                are proud of the high standards
                we hold for our projects and work extremely hard to ensure that your finished project matches the
                contract and renderings as you expected. Upon completion, we will send you the warranties for your labor
                and materials.</p>
        </div>

        <div class="col-sm">
            <img src="../static/completion.jpg" width=100%; height=350px;>

        </div>




    </div>
</section>





{% endblock %}
