{% extends 'home.html' %}
{% load static %}
{% load service_tags %}


{% block mainbody %}
<!-- copy the code for the services from the "Our Services" page but let's remove the transition effect. -->
<div class="container-fluid" style="width: 100%;
         background: linear-gradient(178deg, rgba(201, 234, 252, 0.51) 14.9%, rgba(139, 192, 216, 0.73) 80%);
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         padding-top: var(--scroll-intro, 150px);">

    <div class="container" style="justify-content: center; text-align: center; padding-top: 5%; padding-bottom: 5%;
        color: white;
        font-family: serif;
        font-weight: bold;
        width: 100%;">
        <h1 style="font-weight: bold ;" class="display-4">{{service.name}}</h1>

    </div>
</div>
<hr class="hr">

<div class="container-fluid">

    <div class="row justify-content-between pb-5" style="">

        <div class="col-sm pr-5 pl-5">
            <img src="/media/{{service.id|thumbnail}}" style="width: 100%; height: 75%;">
        </div>


        <div class="col-sm pt-5 pr-5 text-left" style="top: 15%;">
            <p class="lead">{{service.details}}</p>


        </div>
    </div>

    <div class="row justify-content-between" style="">
        <!-- create a flex row for the promotional products. -->
        <section id="promotional_banner" style="width: 100%; margin-left: 5%;">
            <div class="d-flex flex-row w-55 flex-wrap" style="width: 100%;">
                <!-- utilize a for loop in order to, create a div class for each promotional image. -->

                {% for promotion in promotional_images %}
                <div class="promotional_image p-5">
                    <img src="/media/{{promotion}}" style="width: 100%; height: 100%;">
                </div>

                {% endfor %}
            </div>
        </section>

    </div>
</div>

<div class="row justify-content-between text-left pl-5 pr-5 pt-5">
    <div class="sectionHeader pt-5" style="text-align: center; width: 100%;">
        <h2 class="header">View Our {{service.name}} Projects</h2>
        <hr class="hr" style="width: 50%; border: 1px solid grey;">
    </div>

    <!-- create a flex row for the project gallery containers. -->
    <div class="col-md-auto text-center " style="align-items: center;">

        <div class="d-flex md-auto flex-row flex-wrap w-35 text-center">

            {% for project in projects%}
            <div class="card m-3" style="width: 35rem; height: 40rem;">

                <img class="card-img-top" id="gallery_thumbnail" src="/media/{{project.thumbnail}}"
                    style="width: 100%; height: 85%;">
                <a class="btn btn-primary p-3 m-3" href="{% url 'Home:view_gallery' project.id %}"
                    style="height: 10%; border-radius: 10px; background-color: #21374C; border: none;">View
                    Photos From This
                    Project</a>



            </div>


            {% endfor %}


        </div>
    </div>


</div>

{% endblock %}
