{% extends 'home.html' %}
{% load static %}

{% block mainbody %}

<div class="container-fluid" style="width: 100%;
         background: linear-gradient(178deg, rgba(201, 234, 252, 0.51) 14.9%, rgba(139, 192, 216, 0.73) 80%);
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;">

    <div class="section-header text-center p-5 mb-5">

        <h1>{{project.name}}</h1>
    </div>
</div>

<div class="col-md-auto text-center " style="align-items: center;">


    <div class="d-flex md-auto flex-row flex-wrap w-35 text-center">

        {% for image in images %}

        <div class="col-sm p-3 image_gallery">

            <img src="/media/{{image}}" style="width: 100%; height: 50%; vertical-align: middle;">
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
