{% extends 'home.html' %}
{% load static %}
{% block css_links %}
<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/lightbox.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block mainbody %}

<div class="container-fluid" style="width: 100%;
         background: linear-gradient(178deg, rgba(201, 234, 252, 0.51) 14.9%, rgba(139, 192, 216, 0.73) 80%);
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;">

    <div class="section-header text-center p-5 mb-5">

        <h1>{{project.name}}</h1>
    </div>
</div>

<div class="image_container">

    <div class="gallery">

        {% for image in images %}

        <a href="/media/{{image}}" data-lightbox="models" data-title="Caption">
            <img src="/media/{{image}}">
        </a>

        {% endfor %}
    </div>
</div>
<script src="../static/lightbox-plus-jquery.js"></script>

{% endblock %}
