{% extends 'home.html' %}
{% load static %}


{% block mainbody %}

<div class="container-fluid text-center">

    <form method="post">
        {% csrf_token %}


        <div class="row justify-content-center p-5 text-center w-100">
            <div class="col-sm">
                <p>Enter your e-mail below in order to recover your password</p>
                <br>
            </div>
        </div>
        <div class="row justify-content-center p-5 text-center w-100">

            <div class="col-sm">
            </div>
            <div class="form-group col-sm text-center">
                <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email"
                    class="form-control from-control-lg" placeholder="Email">
            </div>

            <div class="col-sm">
            </div>
        </div>




        <button type="submit" class="btn btn-primary p-3">Submit</button>

    </form>

</div>


{% endblock %}
