 #intro {
     padding-top: var(--scroll-intro, 375px);
     padding-bottom: 30%;
     width: 100%;
     background-image: url('../housePlans.jpg');
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-resize: none;
     overflow-y: none;
     max-height: 100vh;
     font-family: Vogue;
 }

 @media (max-width: 575px) {
     #intro {
         padding-top: var(--scroll-intro, 375px);
         padding-bottom: 30%;
         width: 100%;
         background-image: url('../static/housePlans.jpg');
         background-size: cover;
         background-position: center center;
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-resize: none;
         overflow-y: none;
         max-height: 100vh;
         font-family: Vogue;
     }

     .promotional_image {
         width: 50%;
         margin-right: 0%;
     }

     .responsive-font-example {
         color: yellow;
         font-size: 20px;
     }

     .responsive-header {

         font-size: 45px;
         color: yellow;
     }

 }
