@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/abrilfatface/v19/zOL64pLDlL1D99S8g8PtiKchq-lmjcDidBeT5g.woff2') format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

html {
width: 100%;
height: 100%;
margin: 0px;
overflow-x: hidden;
font-family: 'Abril Fatface';
scroll-behavior: smooth;
scroll-padding-top: 275px;
}

body {

    font-family: 'Abril Fatface';
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    scroll-padding-top: 275px;
}

footer {
    margin-top: auto;
}


#social_nav {
    background-color: black;
}

#brand {
    display: inline-block;
    font-family: none;
}

.navbar-brand {
    font-size: 25px;
    color: black;
    border-top: 3px solid black;
    font-family: 'Abril';

}

#brand-heading {
    border-bottom: 3px solid black;
    text-align: center;
}

#brand-heading h4 {
    font-weight: bold;
}

#brand-text {
    text-align: center;
    color: black;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
}

#admin_dropdown {
    text-align: center;
    align-items: center;
}

#dropdownMenuLink {
    background-color: black;
    border: none;
    font-weight: bold;
}

#sign_out {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

#contact_us_button {
    background-color: black;
}

#intro_container {
    text-align: center;
    width: 100%;
    align-items: center;
    margin-top: 5%;
}

.responsive-header {
    font-family: 'Abril';
    font-weight: bolder;
}

#message_container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.responsive-font-example {
    color: white;
    font-weight: bold;
}


.image_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px; 8%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.gallery img {
    width: 100%;
    height: 75%;
}



#intro {
     padding-top: var(--scroll-intro, 375px);
     padding-bottom: 30%;
     width: 100%;
     background-image: url("../housePlans.jpg");
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     background-resize: none;
     overflow-y: none;
     max-height: 100vh;
     font-family: Vogue;
 }


 .facet {
     font-family: 'Abril';
     background-color: black;
     border-left: 3px solid white;
     color: white;
     font-weight: bolder;

 }

 .facet h3 {
     font-weight: bold;
 }

 #about_us {
     padding-top: 2%;
     width: 100%;
     background-color: #FBFBFB;
 }

 .about_us_text {
     font-family: sans;
     font-weight: bold;
 }

 .about_us_button {
     background-color: black;
     border: none;
 }

 #promotional_banner {
     width: 100%;
     margin-left: 7%;
 }

 #our_process {
     scroll-padding-top: var(--scroll-padding, 375px);
     background-color: #DDDDCF;
 }

 #sectionHeader {
     text-align: center;
     width: 100%;
 }

 .our_process_container {
     background-color: black;
 }


 .carousel-inner {
     width: 100%;
 }

 .our_process_card {
     display: flex;
     justify-content: center;
 }

 .our_process_header {
     color: white;
     font-family: sans-serif;
     font-weight: bold;
 }

 .our_process_underline {
     background-color: white;
 }

 #description {
     display: inline-block;
     text-align: center;
     padding: 1%;
 }

 .description_text {
     color: white;
     font-family: sans-serif;
     font-weight: bold;
 }

 .contact_us_card {
     background-color: #DDDDCF;
     border: none;
 }

 .contact_us_button {
     background-color: black;
     border: none;
 }

 .service_card {
     width: 55vh;
     margin: 1vw;
     height: 45vh;
 }

 .service_image {
     width: 100%;
     height: 35vh;
 }

 .service_body {
     height: 10vh;
     border-top: 1px solid white;
     width: 55vh;
 }

 .service_card_title {
     color: black;
     font-weight: bold;
     font-family: sans-serif;
 }

 .our_services_button {
     background-color: black;
     border: none;
 }

 #testimonials {
     scroll-padding-top: var(--scroll-padding, 375px);
     background-color: #CFDDDD;
 }

 .testimonials_container {
     background-color: black;
 }

 .testimonial {
     width: 50%;
     margin-left: 25%;
 }

 #contact_us {
     padding-top: 1%;
     padding-bottom: 3%;
     text-align: center;
     background-color: rgba(246,246,246,255);
 }

 #contact_us_header {
     text-align: center;
     padding-top: 2%;
     width: 50%;
     margin-left: 25%;
 }

 .contact_us_form {
     padding-left: 10vw;
     padding-right: 10vw;
 }

 .form-control {
     font-family: sans-serif;
     font-weight: bold;
 }

 .contact_us_button {
    border-radius: 10px;
    background-color: black;
    border: none;
    font-weight: bold;
 }

 h2 {
     font-family: sans-serif;
     font-weight: bold;
 }

 .footer-heading {
     background-color: black;
 }

 .footer-info {
     font-family: serif;
     font-weight: bold;
 }

 .footer-bottom {
     background-color: black;
 }

 @media (max-width: 575px) {

     .image_gallery {
         flex: 100%;
         max-width: 100%;
         max-height: 50%;
     }
     #intro {
         padding-top: 10%;
         padding-bottom: 30%;
         width: 100%;
         background-image: url("../housePlans.jpg");
         background-size: cover;
         background-position: center center;
         background-repeat: no-repeat;
         background-resize: none;
         overflow-y: none;
         max-height: 100vh;
         font-family: Vogue;
     }


     .promotional_image {
         width: 50%;
         margin-right: 0%;
     }

     .responsive-font-example {
         color: yellow;
         font-size: 20px;
     }

     .responsive-header {

         font-size: 45px;
         color: yellow;
     }

 }

 .col-center {
     margin: 0 auto;
     float: none !important;
 }

 .carousel {
     margin: 50px auto;
     padding: 0 70px;
 }

 .carousel-item {
     color: #999;
     font-size: 14px;
     text-align: center;
     overflow: hidden;
     min-height: 290px;
 }

 .carousel .item .img-box {
     width: 135px;
     height: 135px;
     margin: 0 auto;
     padding: 5px;
     border: 1px solid #ddd;
     border-radius: 50%;
 }

 .carousel .img-box img {
     width: 100%;
     height: 100%;
     display: block;
     border-radius: 50%;
 }

 .carousel .testimonial {
     color: white;
     font-family: sans-serif;
     font-weight: bold;
     font-size: 20px;
     padding: 30px 0 10px;
 }

 .carousel .overview {
     font-style: italic;
 }

 .carousel .overview b {
     text-transform: uppercase;
     color: white;
 }

 .carousel .carousel-control {
     width: 40px;
     height: 40px;
     margin-top: -20px;
     top: 50%;
     background: none;
 }

 .carousel-control i {
     font-size: 68px;
     line-height: 42px;
     position: absolute;
     display: inline-block;
     color: rgba(0, 0, 0, 0.8);
     text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
 }

 .carousel .carousel-indicators {
     bottom: -40px;
 }

 .carousel-indicators li,
 .carousel-indicators li.active {
     width: 10px;
     height: 10px;
     margin: 1px 3px;
     border-radius: 50%;
 }

 .carousel-indicators li {
     background: #999;
     border-color: transparent;
     box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
 }

 .carousel-indicators li.active {
     background: #555;
     box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
 }

 #gallery {
     line-height: 0;
     -webkit-column-count: 5;
     /* split it into 5 columns */
     -webkit-column-gap: 5px;
     /* give it a 5px gap between columns */
     -moz-column-count: 5;
     -moz-column-gap: 5px;
     column-count: 5;
     column-gap: 5px;
 }

 #gallery img {
     width: 100% !important;
     height: auto !important;
     margin-bottom: 5px;
     /* to match column gap */
 }

 textarea {
     font-size: 20px;
     width: 100%;
     line-height: 1.5;
 }

 ul.images {
     margin: 0;
     padding: 0;
     white-space: nowrap;
     width: 100%;
     overflow-x: auto;
 }

 ul.images li {
     display: inline;
     width: 250px;
     height: 250px;
 }


 .promotional_image {
     width: 19%;
     height: 20vh;
     margin-right: 5%;
 }

 button {
     font-family: sans-serif;
 }




 #about_us {
     background-color: white;
 }




 a {
     font-size: 20px;
     font-family: sans-serif;
 }

 @media (max-width: 2300px) {
     #about_us_image {
         display: none;
     }
 }

 /* Used for IPAD Pro 10.5" - 12.9" */

 @media (min-width: 1000px) {
     .responsive-font-example {
         font-size: 20px;
         color: white;
     }



     .responsive-header {
         font-size: 80px;
         color: white;
     }

     .nav-link {
         padding-right: 50px;
         position: relative;
     }
 }

 /* Used for IPAD landscape 7.9" & 9.7" */
 @media (max-width: 1350px) {
     .promotional_image {
         width: 45%;
         margin-right: 0%;
         height: 35vh;
     }

     .responsive-font-example {
         font-size: 40px;
         color: white;
     }



     .responsive-header {
         font-size: 75px;
         color: white;
     }

     .nav-link {
         margin-right: 5px;
         position: relative;
     }
 }

 /* Used for regular browsers */
 @media (min-width: 1920px) {

     .responsive-font-example {
         font-size: 30px;
         color: white;
     }



     .responsive-header {
         font-size: 80px;
         color: white;
     }

     .nav-link {
         margin-right: 75px;
         width: 150px;
         position: relative;
     }


 }

 @media (max-width: 1000px) {

     .responsive-font-example {
         font-size: 20px;
         color: white;
     }



     .responsive-header {
         font-size: 80px;
         color: white;
     }

     .nav-link {
         padding-right: 75px;
         position: relative;
     }


 }


 @media (max-width: 650px) {

     #promotional_banner {
         margin-left: 3%;
     }
     .promotional_image {
         width: 50%;
         margin-right: 0%;
         height: 25vh;
         padding: 0;
     }

     .promotional_image img {
         width: 90%;
         height: 90%;
         padding: 2%;
     }

     .responsive-font-example {
         font-size: 25px;
         color: white;
     }

     .responsive-header {
         font-size: 50px;
         color: white;
     }


 }
