{% extends 'home.html' %}
{% load static %}


{% block mainbody %}


<!-- Add the banner with responsive padding.  -->
<div class="container-fluid" style="width: 100%;
     background: linear-gradient(to top, #09203f 0%, #537895 100%);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     padding-top: 150px;">

    <div class="container" style="justify-content: center; text-align: center; padding-top: 5%; padding-bottom: 5%;
    color: white;
    font-family: serif;
    font-weight: bold;
    width: 100%;">
        <h1 style="font-weight: bold;">Create Your New Project</h1>
    </div>
</div>

<div class="container-fluid pt-5 text-center">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row justify-content-center w-100">
            <div class="form-group col-3">
                <input type="text" name="name" maxlength="35" id="id_name" class="form-control form-control-lg"
                    placeholder="Project Name">
            </div>


            <br>

            <div class="form-group col-3">
                <p>Upload Thumbnail:</p>
                <input type="file" name="thumbnail" accept="image/*" required id="id_thumbnail"
                    class="form-control form-control-lg">
            </div>
        </div>



        <button type="submit" class="btn btn-primary p-3"
            style="background-color: #21374C; border: none; width: 50%;">Submit</button>

    </form>

</div>

{% endblock %}
