{% extends 'home.html' %}
{% load static %}
{% load service_tags %}
{% block mainbody %}
<form method="post" enctype="multipart/form-data" id="form">
    {% csrf_token %}

    <h1 class="text-center">
        {{form.name}}
    </h1>
    <hr class="hr">

    <div class="container-fluid">

        <div class="row justify-content-between pb-5">

            <div class="col-sm pr-5 pl-5">
                <img src="/media/{{service.id|thumbnail}}" style="width: 100%; height: 750px;">

                {{edit_thumbnail}}
            </div>

            <div class="col-sm pt-5 pr-5 pl-5 text-left" style="width: 100%;">
                {{form.details}}

            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary p-3"
        style="width: 50%; margin-left: 25%; border-radius: 10px; background-color: #21374C; border: none;">Save</button>

</form>

<div class="row justify-content-between" style="">
    <!-- create a flex row for the promotional products. -->
    <section id="promotional_banner" style="width: 100%; margin-left: 5%;">
        <div class="d-flex flex-row w-55 flex-wrap" style="width: 100%;">
            <!-- utilize a for loop in order to, create a div class for each promotional image. -->


            {% for promotion in promotional_images %}
            <div class="promotional_image p-5">
                <img src="/media/{{promotion}}" style="width: 100%; height: 100%;">
            </div>

            {% endfor %}

            <!-- use for white space, specifically when there are no promotional banners.  -->
            <div class="promotional_image p-5">

            </div>
        </div>
    </section>

    <div class="section-header text-center" style="width: 100%;">
        <a class="btn btn-primary p-3" href="{% url 'Admin:editPromotionalBanner' service.id %}"
            style="width: auto;  border-radius: 10px; background-color: #21374C; border: none;">Edit
            Promotional
            Banner</a>
    </div>

</div>


<div class="row justify-content-between text-left pl-5 pr-5 pt-5">
    <div class="sectionHeader pt-5" style="text-align: center; width: 100%;">
        <h2 class="header">View Our {{service.name}} Gallery</h2>
        <hr class="hr" style="width: 50%; border: 1px solid grey;">
    </div>

    <!-- create a flex row for the project gallery containers. -->
    <div class="col-md-auto text-center " style="align-items: center;">

        <div class="d-flex md-auto flex-row flex-wrap w-35 text-center">

            {% for project in projects %}
            <div class="card m-3" style="width: 40rem; height: 30rem;">

                <a href="{% url 'Admin:edit_project' project.id %}"
                    onclick="return confirm('Are you sure you would like to edit this project?')">
                    <img class="card-img-top" id="gallery_thumbnail" src="/media/{{project.thumbnail}}"
                        style="width: 100%; height: 24rem;"></a>
                <div class="card-footer text-center"
                    style="display: flex; align-items: center; text-align: center; height: 6rem;">
                    <a class="btn btn-primary p-3" href="{% url 'Admin:edit_gallery' project.id %}"
                        style="border-radius: 10px; background-color: #21374C; border: none; width: 50%;">Edit
                        Gallery</a>
                    &nbsp;
                    &nbsp;
                    <a class="btn btn-danger p-3" href="{% url 'Admin:deleteProject' project.id %}"
                        onclick="return confirm('Are you sure you would like to delete this gallery?')"
                        style="border-radius: 10px; width: 50%; border: none;">Delete Gallery</a>
                </div>
            </div>

            {% endfor %}

            <div class="card m-3" style="width: 40rem; height: 30rem;">
                <img class="card-img-top" id="gallery_thumbnail"
                    src="https://static.vecteezy.com/system/resources/previews/011/693/502/original/add-photo-icon-on-white-background-insert-photo-sign-flat-style-vector.jpg"
                    style="width: 100%; height: 25rem;">
                <a class="btn btn-primary p-3 m-3" href="{% url 'Admin:createGallery' %}"
                    style="height: 10%; border-radius: 10px; background-color: #21374C; border: none;">Create A New
                    Gallery</a>



            </div>


        </div>
    </div>


</div>

{% endblock %}

<script src="../../static/main.js">
