{% extends 'home.html' %}


{% block mainbody %}

<div class="container-fluid" style="width: 100%;
     background: linear-gradient(to top, #09203f 0%, #537895 100%);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     padding-top: var(--scroll-intro, 150px);">

    <div class="container" style="justify-content: center; text-align: center; padding-top: 5%; padding-bottom: 5%;
    color: white;
    font-family: serif;
    font-weight: bold;
    width: 100%;">
        <h1 style="font-weight: bold;">Edit Your Gallery</h1>

        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
            Add New Image
        </button>
    </div>
</div>

<!-- print out the banner in the same form that we do on every other page. -->

<div class="container-fluid" style="overflow-x: hidden; overflow-y: scroll; max-height: 45rem;">
    <!-- create a flex row for the promotional products. -->
    <div class="d-flex flex-row w-55 flex-wrap" style="width: 100%;">
        <!-- utilize a for loop in order to, create a div class for each promotional image. -->
        {% for image in images %}
        <a href="{% url 'Admin:deleteGalleryImage' image.id %}"
            onclick="return confirm('Are you sure you would like to remove this from the gallery?')">
            <div class="card m-3" style="width: 23rem;">


                <img class="card-img-top" id="gallery_thumbnail" src="/media/{{image}}"
                    style="width: 100%; height: 350px;">

            </div>
        </a>
        {% endfor %}
    </div>
</div>

<a class="btn btn-primary p-3"
    style="width: 25%; margin-left: 40%; border-radius: 10px; background-color: #21374C; border: none;"
    href="{% url 'Admin:edit_service' id%}">Save</a>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload A New Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- insert form here. -->
                <!-- insert the form here. -->
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>



{% endblock %}
