{% extends 'home.html' %}
{% load static %}



{% block mainbody %}

<div class="container-fluid" style="width: 100%;
         background: linear-gradient(to top, #09203f 0%, #537895 100%);
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;">

    <div class=" container" style="justify-content: center; text-align: center; padding-top: 5%; padding-bottom: 5%;
        color: white;
        font-family: serif;
        font-weight: bold;
        width: 100%;">
        <h1 style="font-weight: bold;">My Settings</h1>


    </div>
</div>


<div class="container-fluid text-center p-5">

    <form method="post">
        {% csrf_token %}

        <div class="sectionHeader text-center">
            <h1><u>Change Password</u></h1>
        </div>


        <div class="row justify-content-center">
            <div class="form-group col-4">
                <input type="password" name="old_password" autocomplete="current-password" autofocus required
                    id="id_old_password" placeholder="Old Password" class="form-control form-control-lg">
            </div>

        </div>


        <div class="row justify-content-center">
            <div class="form-group col-4">
                <span class="helptext text-left">
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                </span>

                <div class="alert alert-primary" style="background-color: white;">
                    <span id="message"></span>
                </div>
            </div>

        </div>



        <div class="row justify-content-center">
            <div class="from-group col-4">
                <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1"
                    class="form-control form-control-lg" placeholder="New Password" onkeyup="check();"
                    onkeypress="check();" onpaste="check();">
            </div>
        </div>


        <div class="row justify-content-center mt-2">
            <div class="col-4">
                <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2"
                    placeholder="New Password (Confirmation)" class="form-control form-control-lg" onkeyup="check();"
                    onkeypress="check();" onpaste="check();">
            </div>
        </div>

        <button type="submit" name="ChangePassword" class="btn btn-primary p-3 mt-5"><strong>Change
                Password</strong></button>
    </form>

</div>

<script>

    var check = function () {
        if ((document.getElementById('id_new_password1').value === document.getElementById('id_new_password2').value) && (document.getElementById('id_new_password1').value.length !== 0)) {

            if (document.getElementById('id_new_password1').value.length === 0) {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'Please enter a password!';

                console.log("Testing");


            }

            else {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'Passwords Match! &#x2713;';
            }

        }
        else {
            if (!(document.getElementById('id_new_password2').value.length == 0) && (document.getElementById('id_new_password1').value.length !== 0) && document.getElementById('id_new_password1').value !== document.getElementById('id_new_password2').value) {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'Passwords do not match! &#10006;';
            }
        }
    }


</script>

{% endblock %}
