{% extends 'home.html' %}
{% load static %}



{% block mainbody %}

<div class="container-fluid" style="width: 100%;
         background: linear-gradient(to top, #09203f 0%, #537895 100%);
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;">

    <div class=" container" style="justify-content: center; text-align: center; padding-top: 5%; padding-bottom: 5%;
        color: white;
        font-family: serif;
        font-weight: bold;
        width: 100%;">
        <h1 style="font-weight: bold;">Edit Your Quotes Below.</h1>



    </div>
</div>


<div class="row justify-content-between" style="width: 100%;">

    <div class="row justify-content-between" style="width: 100%;">

        <div class="col-sm">
            <h1>Name</h1>
        </div>

        <div class="col-sm">
            <h1>Address</h1>
        </div>

        <div class="col-sm">
            <h1>Details</h1>
        </div>

        <div class="col-sm">
            <h1>Options</h1>
        </div>
    </div>

</div>



{% endblock %}

<script src="../../static/main.js">
